@use "global" as *;


.advantage {
  position: relative;
  padding-top: rem(93);
  
  @include mq(md) {
    padding-top: rem(348);
    
  }
}


.advantage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, transparent 0%, rgba(250, 249,243,0.9) 28%, #FAF9F3);
  width: 100%;
  height: 100%;
  z-index: -1;
}


.advantage__inner.inner {
  padding-right: rem(11);
  padding-left: rem(11);
  
  @include mq(md) {
    padding-right: rem(25);
    padding-left: rem(25);
  }
}


.advantage__wrapper {

}


.advantage__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(12);

  @include mq(md) {
    gap: rem(28);
  }
}


.advantage__header-icon img {
  aspect-ratio: 115 / 44;
  object-fit: contain;
  width: rem(55);

  @include mq(md) {
    width: rem(131);
  }
}


.advantage__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
  font-size: rem(19);
  font-family: $base-font-family;
  font-weight: $Medium;
  color: $black;
  line-height: 1.0;
  letter-spacing: 0.02em;

  @include mq(md) {
    font-size: rem(46);
    gap: rem(24);
  }
}


.advantage__title-top {
  font-size: rem(19);
  font-family: $base-font-family;
  font-weight: $Medium;
  color: $black;
  line-height: 1.0;
  letter-spacing: 0.2em;

  @include mq(md) {
    font-size: rem(46);
  }
}


.advantage__title-middle {
  font-size: rem(15);
  font-family: $base-font-family;
  font-weight: $Medium;
  color: $black;
  line-height: 1.0;
  letter-spacing: 0.02em;

  @include mq(md) {
    font-size: rem(36);
  }
}


.advantage__title-bottom {
  display: flex;
  align-items: baseline;
  gap: rem(3);

  @include mq(md) {
    gap: rem(7);
  }
}


.advantage__title-bg {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: rem(4);
  font-size: rem(20);
  font-family: $base-font-family;
  font-weight: $Medium;
  color: $white;
  line-height: 1.0;
  letter-spacing: 0;
  text-align: center;
  width: rem(178);
  border-radius: rem(15);
  background: linear-gradient(to right, #8E2DE2 0%, #EA5455 100%);
  padding-top: rem(4);
  padding-bottom: rem(7);
  
  @include mq(md) {
    gap: rem(5);
    font-size: rem(48);
    width: rem(421);
    border-radius: rem(36);
    padding-top: rem(9);
    padding-bottom: rem(16);
  }
}


.advantage__title-small {
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $Medium;
  color: $white;
  line-height: 1.0;
  letter-spacing: 0.2em;
  
  @include mq(md) {
    font-size: rem(27);
    letter-spacing: 0;
  }
}


.advantage__title-small.advantage__title-small--black {
  color: $black;
}


.advantage__title-gradation {
  font-size: rem(20);
  font-family: $base-font-family;
  font-weight: $Medium;
  line-height: 1.0;
  letter-spacing: 0;
  background: linear-gradient(90deg, #8e2de2 0%, #ea5455 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include mq(md) {
    font-size: rem(48);
  }
}


.advantage__body {
  position: relative;
  // padding: rem(38) rem(20);
  padding-top: rem(38);
  padding-bottom: rem(38);
  margin-top: rem(15);
  
  @include mq(md) {
    // padding: rem(73) rem(123);
    padding-top: rem(73);
    padding-bottom: rem(73);
    margin-top: rem(27);
  }
}


.advantage__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  width: 100%;
  height: 100%;
  border-radius: rem(19);
  z-index: -1;
}


.advantage__body-inner.inner {
  padding-left: rem(20);
  padding-right: rem(20);

  @include mq(md) {
    // max-width: rem(864);
    // max-width: rem(800);
    max-width: rem(887);
  }
}


.advantage__body-wrapper {
  
}


.advantage__block {

}


.advantage__unit {
  display: flex;
  flex-direction: column;
  gap: rem(35);
  margin-top: rem(35);
  
  @include mq(md) {
    position: relative;
    flex-direction: row;
    // justify-content: space-between;
    // gap: unset;
    gap: rem(154);
    margin-top: rem(48);
  }
}


.advantage__unit::before {

  @include mq(md) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: rem(1);
    height: 100%;
    background-color: #A6A6A6;
  }
}

































