@use "global" as *;


.courseContents {
  display: flex;
  gap: calc(32 / 514 * 100%);
  background-color: $white;
  border-top-right-radius: rem(180);
  border-bottom-right-radius: rem(180);
  box-shadow: 0 0 rem(2) rgba(32, 28, 23, 0.15);
  padding-top: rem(18);
  padding-bottom: rem(18);
  padding-left: rem(19);
  padding-right: rem(48);
  
  @include mq(md) {
    gap: calc(32 / 550 * 100%);
    padding-top: rem(27);
    padding-bottom: rem(27);
    padding-left: rem(27);
    padding-right: rem(66);
    box-shadow: 0 0 rem(6) rgba(32, 28, 23, 0.15);
  }
}


.courseContents:hover {
  opacity: 0.6;
}


.courseContents__image {
  width: calc(266 / 514 * 100%);


  @include mq(md) {
    width: calc(252 / 550 * 100%);
  }
}


.courseContents__image img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  // width: rem(128);
  
  @include mq(md) {
    // width: rem(287);
  }
}


.courseContents__content {
  width: calc(216 / 514 * 100%);
  padding-top: rem(5);
  
  @include mq(md) {
    width: calc(266 / 550 * 100%);
    padding-top: rem(25);
  }
}


.courseContents__title {
  display: inline-block;
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $Medium;
  color: #7EC1AE;
  line-height: 1.2;
  letter-spacing: 0;
  font-feature-settings: "palt";
-webkit-font-feature-settings: "palt";
-moz-font-feature-settings: "palt";
  padding-bottom: rem(5);
  border-bottom: solid #7EC1AE 1px;

  @include mq(md) {
    font-size: rem(27);
    padding-bottom: rem(9);
  }
}


.courseContents__body {
  margin-top: rem(10);

  @include mq(md) {
    margin-top: rem(27);
  }
}


.courseContents__subTitle {
  font-size: rem(10);
  font-family: $base-font-family;
  font-weight: $Regular;
  color: $black;
  line-height: 1.2;
  letter-spacing: 0;

  @include mq(md) {
    font-size: rem(23);
  }
}


.courseContents__text {
  font-size: rem(9);
  font-family: $base-font-family;
  font-weight: $Regular;
  color: $black;
  line-height: 1.6;
  letter-spacing: 0;
  font-feature-settings: "palt";
-webkit-font-feature-settings: "palt";
-moz-font-feature-settings: "palt";
  margin-top: rem(3);

  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(9);
  }
}



