@use "global" as *;


.courseCards {
  display: flex;
  flex-direction: column;
  
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(28);
    row-gap: rem(46);
  }
}